#holder {
  display: block;
  align: center;
}

#divleft {
  float: left;
  padding-left: 3em;
}

#divmid {
  display: inline-block;
}

#divright {
  float: right;
  padding-right: 5em;
}

td {
  padding-bottom: 1em;
}

#redhint, #bluehint, #greenhint {
  padding-left: 1em;
}

#winner {
    display: none;
    position: fixed;
    top: 200px;
    left: 400px;
    border: 4px solid black;
    border-radius: 50px;
}
#reloadButton {
    display: none;
    position:fixed;
    left: 600px;
    top: 410px;
}